[ Sudharsan ]
Functions Requirements Q/A:
1. What the app offers?
2. Why should the comman man use this app?
3. How would we monitor the agents work ethics?
4. What will the users see in their app window?
5. What will community policer see in his/her app window?
6. What will police see in his/her window?
7. If everything is free, how does this app make money?
8. Do we have presentation on how the app works?
10.How do i register to this app?


Techinical Requirements Q/A:
1. Any reference project to compare with?
2. Do we have high level design?
3. Do we have component level design?
4. What technologies we are going to need?
5. Are we going to hire someone to code?


Answers for Functions Requirements:

1.What the app offers?

This app connects police, community policers, agents with public offering SOS(Save Our Souls) and security solutions to common people.
Provides map view for users to locate and get help from active agents. 

Suggested name for the app 

#Who is police?

#Who is community policers?

#Who are agents?

Agents are trained professional by police and community policer's offering public help on immediate basis. Their services include the following and not limited to:- 
    Responsible to manage the traffic at their respective locations.
    Report accidents and acts as ERT member.
    Responsible for women safety.
    
 
 #Who are users?


2. Why should the comman man use this app?
10.How do i register to this app?
Registration, with the following
	username,
	email,
	phone no,
	agent type
	gender,
	Police station Address,
	circle details.
    photo copy of aadhar, DL, passport.

[Madhav 5th april 2017]:
===========Proper Req===============

This App is altered to be useful for each and every person.

Users of the App:
================= 
Every one can use this app for their own safety requirements. There are multiple use cases that can be thought of with this app.

Concept:
========
- Basic concept of this Application is that we create a Safe Environment around us by Ourselves being ProActively contributing to the Society.

- We create a set of Agents/Security guards on the roads at our places, be it an Apartment or School or College or Tech Park Or Commercial space or Individual Companies with an Association of Community Policers and Traffic Police/Civil Police.

- These Agents/Security guards will register our App to make themselves offer as a service available on roads for any common person. These Agents/Security guards will be seen on the google map as a symbol(not defined yet) showing in different colors like green for being Available , Yellow for partially Available, and grayed out for being InActive.

- Users of this App are everyone. Everyone means Everyone. Each of the individual will need to be registered with their Authentication details to be provided based on different types of security/ Authentication we will deploy while registration like govt Id details & its verificaiton, Mobile & email Id verification - otp etc.
Also Securing these details with the police Entities is very important for not misusing this data by some one else. Need to use robust security  features for this registration part of both users and agents.

- So when a person/User faces any problem ( different problems of use cases defined below), these security guards/User agents will be immediate service to either call them or msg them for help by notifying them somehow.

- On the map, Users will be able to see his current location with set of symbols around him on the roads where security guards/agents will be visible as a Helping hand whether he is Active to get any service from him.

- It also indicates that whether that area is really safe seeing the number of people actively visible around that area.

For example:
If a person has met with an accident at certain area, if this security guard will be there on the roads to help that person with Ambulance support & Police support required to be provided with help of his peer agents/guards if required.

If you are going towards an area in late midnight, you can see if are in quite a safe area while travelling if that area has agents actively working on the maps.

If you see your friend going late to his/her home, this app gives an additional option of tracking a specific person based the persons travelling willing/acceptance only  and they can let you monitor them on road if they have reached to their destination or not  or if they are travelling safely or not.

We can use this app also for closed communities where companies/travel agencies/schools can make use this app for a specific group like for example
in a school bus if parents want to monitor their school children if they are going on safer route and if they have reached their destination  this app works perfectly for them by monitoring the driver in the app as a school bus. This can be improvised.

There are many more examples that we described in below sections.

- For genuine people safety it is good to send the call or SMS to nearest available person rather than they choose that person nearby. For safety from people who are of criminal mind. 

- Have to see what all safety measures to be taken for every individual for them being genuine.


===========Proper Req===============
====== Abstract points so far ======
-------------------------------------
List of Use cases we can think of:
-------------------------------------
Closed communities. 

Schools can track their school buses for safety and parents can monitor the bus for safety. 

Travel agencies. And bus services can track their drivers in proper path if they are going or not. 

Like that many more examples. 

For public helping hand is available to call or SMS and see if they can get help. 




====== Abstract points so far ======

