[ Sudharsan ]
Functions Requirements Q/A:
1. What the app offers?
2. Why should the comman man use this app?
3. How would we monitor the agents work ethics?
4. What will the users see in their app window?
5. What will community policer see in his/her app window?
6. What will police see in his/her window?
7. If everything is free, how does this app make money?
8. Do we have presentation on how the app works?
10.How do i register to this app?


Techinical Requirements Q/A:
1. Any reference project to compare with?
2. Do we have high level design?
3. Do we have component level design?
4. What technologies we are going to need?
5. Are we going to hire someone to code?


Answers for Functions Requirements:

1.What the app offers?

This app connects police, community policers, agents with public offering SOS(Save Our Souls) and security solutions to common people.
Provides map view for users to locate and get help from active agents. 

Suggested name for the app 

#Who is police?

#Who is community policers?

#Who are agents?

Agents are trained professional by police and community policer's offering public help on immediate basis. Their services include the following and not limited to:- 
    Responsible to manage the traffic at their respective locations.
    Report accidents and acts as ERT member.
    Responsible for women safety.
    
 
 #Who are users?


2. Why should the comman man use this app?
10.How do i register to this app?
Registration, with the following
	username,
	email,
	phone no,
	agent type
	gender,
	Police station Address,
	circle details.
    photo copy of aadhar, DL, passport.


[Madhav 2nd april 2017]:
 This App is altered to be useful for each and every person.
 Users of the App: Every one can use this app.
 
 How can they make use of this App?
 With the current concept of all the agents that are going to work with us being displayed on the app, the users ( any authenticated person)
 
Also our app should work in such a way that we need to see the persons whether they are available in GPS or not.
We should see how the CrowdSourcing works for itt to happen/ if not only via GPS.

Closed communities. 

Schools can track their school buses for safety and parents can monitor the bus for safety. 

Travel agencies. And bus services can track their drivers in proper path if they are going or not. 

Like that many more examples. 

For public helping hand is available to call or SMS and see if they can get help. 

For genuine people safety it is good to send the call or SMS to nearest available person rather than they choose that person nearby. For safety from people who are of criminal mind. 

Have to see what all safety measures to be taken for every individual for them being genuine.

3.
